/*General styles*/
.appBackground{
  background: #E5E5E5;
}
.btn{
  padding: 9px 17px;
  text-decoration: none;
  background: #ffffff;
  color: #000;
  border-radius: 4px;
  position: absolute;
  transition: 0.4s ease-in-out;
  border: 2px solid #d9d9d9;
  cursor: pointer;
}
.btn:hover{
  background:#d9d9d9;
}
.primary__heading{
  font-size: 1.5em;
      background: #1dbec0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      padding: 15px 0px;
      margin-bottom: 0px;
      text-align: center;
}
/*---------------------General styles*/
.home__button{
width: 100%;
text-align: center;
text-transform: uppercase;
padding: 50px 0px;
}
/*Navigation styles*/
.navbar{
  display: block;
width: 50%;
margin: 0px auto 0px auto;
}
.navbar-menu {
    display: block;
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
}
.navbar-menu__item{

display: inline-block;
}
.navbar-menu__link{
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    position: relative;
    padding: 15px 0px;
    margin: 0px 15px 0px 4px;
    color: #34495E;
    display: inline-block;
    font-size: 0.9em;
}
/*------------------Navigation styles*/

/*EmployeeList styles*/
.appContainer{
    width: 50%;
    margin: 0px auto 0px auto;
    position: relative;

  }
.appContainer__search{
  background: #fff;
 display: block;
  text-align: center;
border-radius: 4px;
        padding-bottom: 1px;
        box-shadow: 0px 0px 4px 0px #c4c4c4;
}
.search__heading{
  font-size: 1.5em;
  background: #1dbec0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 0px;
}
.search__input{
  margin: 30px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
}
.employees{
  padding: 0px;
  margin:0px;
  box-shadow: 0px 0px 4px 0px #c4c4c4;
}
.employees-list__list{
  padding: 0px;
  margin:0px;
}
.employees-list__item{
  display: block;
  position: relative;
  background: #fff;
  border-bottom: 2px solid #d9d9d9;
  padding: 0 15px;
  transition: 0.4s ease-in-out;
}

.employees-list__item:hover{
  background: rgb(247, 247, 247);
}

.employees-list-item__thumbnail{
  display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      top: 11px;
}
.employees-list-item__name{
  display: inline-block;
}
.employees-list-item__description{
  display: inline-block;
  background: #d9d9d9;
  margin-left: 10px;
  border-radius: 4px;
  color: #3a4963;
  padding: 4px;
}
.employees-list-item__button{
      right: 15px;
      bottom: 10px;
}

/*--------------------EmployeeList styles*/


.employee{
  background: #fff;
display: block;
text-align: center;
border-radius: 4px;
padding-bottom: 1px;
box-shadow: 0px 0px 4px 0px #c4c4c4;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.employee__heading{
  font-size: 1.5em;
      background: #1dbec0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      padding: 15px 0px;
      text-align: center;
margin-bottom: 25px;
margin-top: 0px;
}
.employee__picture{
  border-radius: 50%;
}
.employee__button{
  left: 35px;
  top: 135px;
}
.employee-details__container{
  text-align: left;
}
.employee-details__heading{
  padding: 10px 0px 10px 35px;
      text-align: left;
      border-bottom: 2px solid #1dbec0;
      background: rgba(0, 0, 0, 0.08);
}
.employee-details__description{
  padding: 0 35px;
    text-align: justify;
}
.employee-details__list{
  list-style-type: circle;
    line-height: 1.6;
}
.employee-details-list-item__span{
  font-weight: bold;
}
.employee-details__heading--marginless{
  padding: 10px 0px 10px 35px;
      text-align: left;
      border-bottom: 2px solid #1dbec0;
      background: rgba(0, 0, 0, 0.08);
  margin-bottom: 0px;
}
/* Angular animations */
.ng-enter {
  transition:0.5s linear all;
  opacity:0;
  display:block;
}
.ng-enter.ng-enter-active {
  opacity:1;
  display:block;
}
.ng-leave {
  transition:0.2s ease-in-out all;
  opacity:1;
  display:block;
}
.ng-leave.ng-leave-active {
  opacity:0;
  display:block;
}
/* -----------------Angular animations */





@media only screen and (max-width: 40em) {
  .appContainer, .navbar {
    width: 95%
  }
  .search__input{
    width: 80%;
  }
  .employees-list-item__description{
    display:none;
  }
  .employee__button {
    left: 15px;
    top: 135px;
}
.navbar-menu{
margin: 10px auto;
}
}
